@{
    ViewBag.Title = "Sobre Nosotros";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <h4>Qué es Yape?</h4>
    <p>
        Es un aplicativo móvil con el que puedes enviar y recibir dinero usando el número de tus contactos o escaneando códigos QR de Yape, Visa o Izipay.
        Existen tres formas de afiliación: tarjeta BCP, otras de categoría Visa
        (Mibanco, Caja Cusco, Caja Piura, Caja Sullana, Caja Tacna, Caja Trujillo y Banco de la Nación) y con DNI.
    </p>
    <h4>Que beneficios ofrece yape</h4>
    <p>
        - De acuerdo a su página web oficial, los usuarios pueden acceder a un 30 % de descuento en 5 viajes consecutivos con la aplicación Cabify. Esta promoción se encuentra vigente desde el 26 de abril hasta el 31 de julio o hasta agotar stock.
        Para hacer efectivo el descuento, el usuario debe activar Yape como medio de pago en la app. Debes ingresar el código YAPE30 en la sección “Códigos descuento” y tendrá los descuentos cargados automáticamente.
    </p>
    <p>
        Recuperado de <a href="https://www.infobae.com/america/peru/2022/04/28/yape-te-engrie-estos-son-los-beneficios-que-reciben-sus-usuarios-en-peru/">Infobae</a>
    </p>
</main>